footer{
    background-color: #008fd1;
    padding: 10px 0 0 0;
    margin-top:30px;
    color: #ffffff;
    text-align: justify;
}
footer a{
    color: #ffffff;
}
footer a:hover{
    color: #ffffff;
    text-decoration: none;
}

footer .widget_recent_entries li{
    margin-bottom: 10px;
}

footer .site-info{
    background-color: #004d70;
    margin:0;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 15px;

}
footer .site-info a{
    font-size: 14px;
    text-transform: none;
    font-family: cursive;
}
#social{
    list-style: none;
}
#social li{
    position: relative;
    display: inline-block;
}
#social li a:before{
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-family: 'fontAwesome';
    font-size: 40px;
    color: #ffffff;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
}
#social li a[href*="facebook.com"]::before{content: '\f082';}
#social li a[href*="twitter.com"]::before{content: '\f0d4';}
#social li a[href*="plus.google.com"]::before{content: '\f081';}
#social li a[href*="youtube.com"]::before{content: '\f16a';}